<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>report</title>
    <link rel="stylesheet" href="../css/report.css">
    <script type="module" src="../js/report.js" defer></script>
</head>
<body>
    <main class="main">
        <section class="main__banner">
            <article class="banner__opcion">
                <a href="#"><img src="../storage/img/arrowBack.svg"> Go back</a>
                <a href="#"><img src="../storage/img/option.svg"></a>
            </article>
        </section>
        <section class="main__report">
            <article class="report__user">
                <h1>Report Garden</h1>
                <small id="clock"></small>
                <strong> Report / clients</strong>
            </article>
            <article class="report__menu">
                <button class="report__active">clients</button>
                <button>employees</button>
                <button>gama</button>
                <button>offices</button>
                <button>payments</button>
                <button>product</button>
                <button>request details</button>
                <button>requests</button>
            </article>
            <article class="report__details">
                <details id="queryAboutTable1">
                    <summary>
                        <div class="details__description">Tabla 1: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el código de oficina y la ciudad donde hay oficinas.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable2">
                    <summary>
                        <div class="details__description">Tabla 2: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con la ciudad y el teléfono de las oficinas de España.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable3">
                    <summary>
                        <div class="details__description">Tabla 3: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el nombre, apellidos y email de los empleados cuyo jefe tiene un código de jefe igual a 7.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable4">
                    <summary>
                        <div class="details__description">Tabla 4: </div>
                        <div class="details__container">
                            <p>Devuelve el nombre del puesto, nombre, apellidos y email del jefe de la empresa.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable5">
                    <summary>
                        <div class="details__description">Tabla 5: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el nombre, apellidos y puesto de aquellos empleados que no sean representantes de ventas.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable6">
                    <summary>
                        <div class="details__description">Tabla 6: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el nombre de los todos los clientes españoles.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable7">
                    <summary>
                        <div class="details__description">Tabla 7: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con los distintos estados por los que puede pasar un pedido.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable8">
                    <summary>
                        <div class="details__description">Tabla 8: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el código de cliente de aquellos clientes que realizaron algún pago en 2008.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable9">
                    <summary>
                        <div class="details__description">Tabla 9: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el código de pedido, código de cliente, fecha esperada y fecha de entrega de los pedidos que no han sido entregados a tiempo.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable10">
                    <summary>
                        <div class="details__description">Tabla 10: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con el código de pedido, código de cliente, fecha esperada y fecha de entrega de los pedidos cuya fecha de entrega ha sido al menos dos días antes de la fecha esperada.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable11">
                    <summary>
                        <div class="details__description">Tabla 11: </div>
                        <div class="details__container">
                            <p>Devuelve un listado de todos los pedidos que fueron rechazados en 2009.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable12">
                    <summary>
                        <div class="details__description">Tabla 12: </div>
                        <div class="details__container">
                            <p>Devuelve un listado de todos los pedidos que han sido entregados en el mes de enero de cualquier año.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable13">
                    <summary>
                        <div class="details__description">Tabla 13: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con todos los pagos que se realizaron en el año 2008 mediante Paypal.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable14">
                    <summary>
                        <div class="details__description">Tabla 14: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con todas las formas de pago que aparecen en la tabla pago. </p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable15">
                    <summary>
                        <div class="details__description">Tabla 15: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con todos los productos que pertenecen a la gama Ornamentales y que tienen más de 100 unidades en stock.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <details id="queryAboutTable16">
                    <summary>
                        <div class="details__description">Tabla 16: </div>
                        <div class="details__container">
                            <p>Devuelve un listado con todos los clientes que sean de la ciudad de Madrid y cuyo representante de ventas tenga el código de empleado 11 o 30.</p>
                            <!-- <p><marquee behavior="" direction="">Consultas sobre una tabla 6.Devuelve un listado con el nombre de los todos los clientes españoles.</marquee></p> -->
                        </div>
                    </summary>
                    <div class="report__container"></div>
                </details>
                <!-- <details><script src="/js/main.js"></script></details> -->
                <!-- <details data-click="queryAboutTable8">
                    <summary>
                        <div class="details__description">Campus: </div>
                        <div class="details__container">
                            <p>8. Devuelve un listado con el código de cliente de aquellos clientes que realizaron algún pago en 2008. Tenga en cuenta que deberá eliminar aquellos códigos de cliente que aparezcan repetidos.</p>
                        </div>
                    </summary>
                    <div class="report__container">
                        <div class="report__card">
                            <div class="card__title">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div>
                            <div class="card__body">
                                <div class="body__marck">
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                    <p><b>Welcome to my figma community file: </b>You can follow me on twitter here</p>
                                </div>
                            </div>
                            <div class="card__footer">
                                <div>Hello, I’m Isaac Fayemi</div>
                            </div> 
                        </div>
                        
                    </div>
                </details> -->
            </article>
        </section>
    </main>
</body>
</html>